.icon {
  padding-left: 10px;
}
.magazine-details,
.horizontal-line,
.general-description,
.website-container,
.about-project{
    max-width: 1200px;
    margin: 0 auto;
}
.magazine-section {
    display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: unset;
  margin-top: 70px;
}
.magazine-container {

}
.horizontal-line {
    border-top: 2px solid #504f4f;
  width: 200px;
  display: block;
}

.horizontal-line-container{
    width: 1200px;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    right: 500px;
}
.magazine-details {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  padding-top: 20px;

}
.project-title {
    font-size: 60px;
}
.project-description {
    width: 50%;
    font-family: "prodigy-sans-regular", "sans-serif";
}

.magazine-project-container{
    
}
.magazine-project {
    height: 600px;
    border-radius: 3px;
    position: relative;
    right: 4%;
}

.project-detail-image {
    width: 80vw;
    padding: 150px;
}

.general-description,
.about-project {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 500;
    width: 100%;
  padding: 150px 0;
}
.project-information {
    font-family: "Merchant", sans-serif;
    font-size: 30px;
    width: 400px;
}
.website-container {
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.website-span {
    color: #504f4f;
    padding: 10px 0;
}
.website-live-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size: 16px;
}
.about-project {
    border-top: 1px solid #504f4f;
}
.about-project-details {
    text-transform: unset;
    
}

.details-container{
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-between;
}

@media screen and (max-width: 1199px) {
    .website-span{
        font-size: 14px;
    }
    .website-live-link {
       
    }
    .project-information{
        font-size: 25px;
        width: 300px;
    }
}
@media screen and (max-width: 991px) {
.general-description,
.about-project{
    flex-direction: column;
}
.project-information{
    font-size: 45px;
    width: unset;
}
.details-container{
    flex-direction: column;
}
.website-container{
    width: 250px;
    align-items: baseline;
}
}

@media screen and (max-width: 870px) {
    .website-span{
        font-size: 13px;
    }
    .project-information{
        font-size: 23px;
        width: 250px;
    }
}