@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap");

@font-face {
  font-family: "Merchant";
  src: url(fonts/Merchant-Typeface/OpenType-TT/Merchant-ExtraLightExpanded.ttf);
}

@font-face {
  font-family: "prodigy-sans";
  src: url(fonts/prodigy-sans/fonts/webfonts/TTF/ProdigySans-Medium.ttf);
}
@font-face {
  font-family: "prodigy-sans-regular";
  src: url(fonts/prodigy-sans/fonts/webfonts/TTF/ProdigySans-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "prodigy-sans", sans-serif;
}

body {
  font-family: "prodigy-sans", sans-serif;
  background-color: #f7f4f2;
}

a{
  text-decoration: none;
}
p {
  font-size: 20px;
  color: #504f4f;
}
h1 {
  font-family: "Merchant", sans-serif;
  font-size: 60px;
  line-height: 75px;
  font-weight: 100;
}

h2 {
  font-family: "Merchant", sans-serif;
  font-size: 50px;
  line-height: 60px;
  font-weight: 100;
  text-align: center;
}
h3 {
  font-size: 25px;
  font-family: "Merchant", sans-serif;
}

header {
  max-width: 1200px;
  margin: 0 auto;
}

.btn {
  border-radius: 0;
  padding: 10px 30px;
  background-color: #000;
  color: #fff;
}

.section {
  max-width: 1200px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects-container,
.form-container,
.skills-container,
.magazine-container{
  padding: 80px 0;
}

/* navbar */
.navbar-nav {
  text-align: center;
  align-items: center;
  width: 100%;
}

.navbar-brand {
  font-family: "Merchant", sans-serif;
  font-size: 30px;
  font-weight: 100;
}
.navbar-brand:hover{
  color: rgb(205, 206, 255) !important;
}

.nav-link{
  font-size: 20px;
}
.navbar-nav,
.nav-link.active,
.nav-link:hover,
.active {
  color: rgb(205, 206, 255) !important;
  font-family: "prodigy-sans-regular", sans-serif !important;
}

/* footer */
footer {
  border-top: 1px solid;
}
.footer-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  width: 50%;
  margin: 0 auto;
}
.footer-links {
  text-decoration: none;
  color: #000;
}

/* skills */
.skills-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
/* projects */
.project-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  padding-bottom: 40px;
  
}

.project {
  width: fit-content;
  border: none;
  height: 446px;
  background-color: rgb(231 224 214);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.2s;
  margin-bottom: 20px;
}
.project-image {
  width: 520px;
  max-width: 80vw;
  padding: 60px 40px;
  padding-bottom: 0px;
  filter: grayscale(1);
}
.project:hover {
  transform: scale(1.05);
}

/* contact */

form {
  width: 50%;
}

label {
  text-transform: uppercase;
  font-size: 16px;
  margin: 20px 0;
}

.form-text {
  border: none;
  border-bottom: 1px solid;
  border-radius: 0;
  background-color: transparent;
}

.form-button {
  margin-top: 20px;
}
/* #CFB3FF  rgba(169, 192, 255, 1) */

@media screen and (max-width: 1199px) {
  .project {
    height: 346px;
  }
  .project-image {
    width: 400px;
    padding: 40px 30px;
  }
}

@media screen and (max-width: 991px) {
  .project {
    height: 258px;
  }
  .project-image {
    width: 330px;
  }
}

@media screen and (max-width: 768px) {
  .project-container{
    width: unset;
  }
  .project {
    width: fit-content;
    height: 446px;
    max-width: 80vw;
  }
  .project-image {
    width: 520px;
    max-width: 80vw;
    padding: 60px 40px;
  }
}

@media screen and (max-width: 620px) {
  .project {
    height: 356px;
  }
  .project-image {
    width: 450px;
  }
}

@media screen and (max-width: 500px) {
  .project {
    height: 280px;
  }
  .project-image {
    padding: 50px 40px;
  }
}

@media screen and (max-width: 410px) {
  .project {
    height: 250px;
  }
}

@media screen and (max-width: 360px) {
  .project {
    height: 200px;
  }
  .project-image {
    padding: 40px 30px;
  }
}

@media screen and (max-width: 300px) {
  .project {
    height: 150px;
  }
  .project-image {
    padding: 30px 20px;
  }
}
